/* _content/Exercise11/Pages/StudentDetails.razor.rz.scp.css */
img[b-do7tlcx2pl] {
    width: 200px;
    height: 200px
}
body[b-do7tlcx2pl]  {
    background-color: cornflowerblue
}
p[b-do7tlcx2pl]{
    border: 1px solid back
}
div[b-do7tlcx2pl] {
    border: 5px solid black;
    background-color: lightblue;
    text-align: left;
    position: relative;
    top: 50%;
    left: 1%;
    right: 1%;
}
/* _content/Exercise11/Pages/StudentList.razor.rz.scp.css */
img[b-9yr979ho40] {
    width: 100px;
    height: 100px
}

table[b-9yr979ho40] {
    background-color: aliceblue
}
/* _content/Exercise11/Shared/MainLayout.razor.rz.scp.css */
.page[b-kooarrx4fx] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-kooarrx4fx] {
    flex: 1;
}

.sidebar[b-kooarrx4fx] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-kooarrx4fx] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-kooarrx4fx]  a, .top-row .btn-link[b-kooarrx4fx] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-kooarrx4fx] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-kooarrx4fx] {
        display: none;
    }

    .top-row.auth[b-kooarrx4fx] {
        justify-content: space-between;
    }

    .top-row a[b-kooarrx4fx], .top-row .btn-link[b-kooarrx4fx] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-kooarrx4fx] {
        flex-direction: row;
    }

    .sidebar[b-kooarrx4fx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-kooarrx4fx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-kooarrx4fx], article[b-kooarrx4fx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Exercise11/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-8tvqcbufof] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-8tvqcbufof] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-8tvqcbufof] {
    font-size: 1.1rem;
}

.oi[b-8tvqcbufof] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-8tvqcbufof] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-8tvqcbufof] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-8tvqcbufof] {
        padding-bottom: 1rem;
    }

    .nav-item[b-8tvqcbufof]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-8tvqcbufof]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-8tvqcbufof]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-8tvqcbufof] {
        display: none;
    }

    .collapse[b-8tvqcbufof] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-8tvqcbufof] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
